<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>LaunchStore</title>
  
  {% include "parts/styles.njk" %}
</head>
<body>
  {% include "parts/messages.njk" %}

  {% include "parts/header.njk" %}
  
  {% block content %}
  {% endblock content %}

  {% include "parts/footer.njk" %}
</body>
</html>